 .rectangletop {
   position: absolute;
   width: 100vw;
   height: 100px;
   background: #24AEC0;
   align-self: start;
   justify-self: left;
   display: flex;
 }

 .rectanglebottom {
   position: absolute;
   width: 100vw;
   height: 200px;
   background: #FDED5D;
   align-self: start;
   display: flex;
 }

  .rectangletopsmall {
    position: absolute;
    width: 100vw;
    height: 38px;
    background: #24AEC0;
    align-self: start;
    justify-self: left;
    display: flex;
  }

  .rectanglebottomsmall {
    position: absolute;
    width: 100vw;
    height: 76px;
    background: #FDED5D;
    align-self: start;
    display: flex;
  }
  .welcome-box {
    position: absolute;
    width: 400px;
    height: 340px;
    background: #FDED5D00;
    border: 2px solid #A0A0A0;
    align-self: start;
    display: flex;
  }
  .welcome-boxbigger {
    position: absolute;
    width: 800px;
    height: 340px;
    background: #FDED5D00;
    border: 2px solid #A0A0A0;
    align-self: start;
    display: flex;
   }

  .btn {
    cursor: pointer;
  }

  .btn:hover {
      transform: scale(0.95);
      transition-duration: 0.2s;
  }

  label, input {
     display:flex;
     flex-direction:column;
  }
   label {
    text-align: left;
    font-family: Sans Serif, Segoe UI;
    font-size: 12px;
    margin-left: 4px;
   }